<!DOCTYPE html>
<html>
<body>

{{ result }}

<form action="/calculate/" method="POST">
  Normal Method:<br>
  <input type="text" id = 'word' name="word">
  <input type="submit" value="Submit">
</form>



<form action="/cos/" method="POST">
  Cosine Distance Method:<br>
  <input type="text" id = 'word' name="word">
  <input type="submit" value="Submit">
</form>



<form action="/bays/" method="POST">
  bayesian Method:<br>
  <input type="text" id = 'word' name="word">
  <input type="submit" value="Submit">
</form>


<form action="/add/" method="POST">
  Add Word:<br>
  <input type="text" id = 'word' name="word">
  <input type="submit" value="Submit">
</form>



</body>
</html>
